@model IEnumerable<#project#.#modelNamespace#.#model#>

@{
    ViewData["Title"] = "Index";
	var nblinks = ViewBag.nbrLinks;
	var d = ViewBag.nbrPerPage;
	int i = 0;
}

<style>
    .pagination { 
        text-align: center; 
        margin-top: 2rem; 
    } 
    
    .pagination a { 
        color: #007BFF; 
        padding: 8px 16px; 
        text-decoration: none; 
        border: 1px solid #007BFF; 
        margin: 0 5px; 
        border-radius: 4px; 
    } 
    
    .pagination a:hover { 
        background-color: #007BFF; 
        color: white; 
    } 
    
    .pagination .active { 
        background-color: #007BFF; 
        color: white; 
    }

    #page-numbers { 
        margin-top: 20px; 
        font-size: 16px; 
    }
</style>

<h1>Index #model#</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            #columnName#
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            #columnValues#
			
            <td>
                <a asp-action="Edit" asp-route-id="@item.#pk#">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.#pk#">Delete</a>
            </td>
        </tr>
}
    </tbody>
    
    
</table>
    <div class="pagination" id="pagination"> 
	    @for(; i < nblinks; i++)
	    {
	        <a href="@Url.Action("Index", "#model#", new { position = i })" class="page-link" data-page="@i">@(i+1)</a>
	    }
	    <p id="page-numbers"> </p>
	</div>